 body {
    background-color: black;
    color: #FFFFFF;
}

article {
    background-color: rgb(44, 43, 43);
    border-bottom: 1px solid #FFFFFF;
}

.resaltado {
    color: yellow;
}

#titulo_del_blog {
    text-align: center;
    font-size: 3rem;
}
.ilustracion{
    border: 4px solid #FFFFFF;
    display: inline;
}