/*clases generales*/

body {
    background-color: black;
    color: #FFFFFF;
}

article {
    background-color: rgb(44, 43, 43);
    border-bottom: 1px solid #FFFFFF;
    padding: 1.5rem;
}

#titulo_del_blog {
    text-align: center;
    font-size: 3rem;

/*terminan claes generales*/


/*barra de navegación*/

}

.resaltado {
    color: yellow;
}

nav>ul>li {
    list-style: none;    
}

nav>ul>li>a {
    text-decoration: none;
    color:white;
} 


nav>ul>li {
    list-style: none;    
}


/*termina barra de navegación*/


/*footer del blog*/

#footer_blog{
    margin: 2rem;
}

/*fin del footer del blog*/

/*ilustraciones*/

.ilustracion{
    display: inline-block;
    border: 4px solid #FFFFFF;   
}

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

/*fin ilustraciones*/

/*inicia grid*/

section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
}

section>header {
    grid-column: span 12;
}

main{
    grid-column: 1/9;
}

aside{
    grid-column: 9/13;
}

footer{
    grid-column: span 12;
    text-align: center;
}

/*termina grid*/

nav{
    background-color: turquoise;
    height: 30px;
}
.linea{
    display: inline;
}
.nav_1{
    position: relative;
    top: 5px;
    left: 235px;
}
.nav_2{
    position: relative;
    top: 5px;
    left: 470px;
}
.nav_3{
    position: relative;
    top: 5px;
    left: 705px;
}
.nav_4{
    position: relative;
    top: 5px;
    left: 940px;
}